<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">
<!-- Head -->
<%-include('head.ejs'); -%>

<body class="font-body overflow-x-hidden" id="about-anchor">
    <div class="pt-20  bg-tokyo-cityscape" id="main_wrapper"> <!-- Content Wrapper BEGINS -->
        
        <!-- Section 1.1 Nav BEGINS BIG SCREEN -->
        <%-include('navBar.ejs'); -%>

        <!-- NAVIGATION FOR SMALL SCREEN HERE BELOW -->
        <%-include('navBar_small.ejs'); -%>
        
        <!-- ABOUT & JOURNEY-->
        <%-include('about.ejs') -%>
            
        <div class="text-center"> 
            <span id="skillset-anchor" class="text-headerBg font-semibold">• • •</span>
        </div>

        <!-- Section 2 Skillset BEGINS-->
        <%-include('skillset.ejs') -%>  

        <div class="text-center" id="portfolio-anchor"> 
            <span class="text-headerBg font-semibold">• • •</span>
        </div>

        <!-- Section 4 Portfolio BEGINS-->
        <%-include('portfolio.ejs') -%>

        <div class="text-center"> 
            <span class="text-headerBg font-semibold">• • •</span>
        </div> 

        <!-- Section 3 Hobbies BEGINS-->
        <%-include('hobbies.ejs') -%>
            
        <div class="text-center"> 
            <span class="text-headerBg font-semibold">• • •</span>
        </div>

        <div id="miscellaneous" class="card mt-10 p-5"> 
            <div class="text-center pt-2 pb-2">
                <span class="text-headerBg font-bold"> LIKE WHAT YOU SEE? </span>
            </div>
            <div> 
                If you like this webpage and would like to collaborate, please do reach out to me at the contact below. 
                Any and all feedback is much appreciated! 
                <br>
                Or you simply feel like we could be good friends? Then make sure to drop a message! 
                Cheers!
            </div>                
        </div>
       </main>

       <!-- Footer -->
       <%-include('footer.ejs') -%>
       
    </div> <!-- Content Wrapper ENDS -->
</body>
<script src="index.js"></script>
</html>
